# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environments
# ======================
.venv/
env/
venv/
ENV/

# ======================
# IDEs
# ======================
# PyCharm
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# ======================
# System files
# ======================
.DS_Store
Thumbs.db
